.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    height: 8vh;
    z-index: 5;
    /* when we use flex with fixed justify-content does not work the way we want   */
    display: flex;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    font-family: 'Oswald', sans-serif;
}

.nav_black {
    background-color: #151515;
}

.nav_logo {
    width: 150px;
    padding-right: 12%;
}

.navigation {
    display: flex;
    padding-left: 3%;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: #fff;
    text-decoration: none;
    /* font-size: 1.4rem; */
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 0px #151515;
}

.right-div {
    display: flex;
    padding-right: 3%;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}

.nav_avatar {
    cursor: pointer;
    width: 5vw;
    padding-left: 12%;
}

.list {
    position: absolute;
    right: 4%;
    top: 70%;
    width: 150px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    cursor: pointer;
}

.flex {
    display: flex;
    padding: 4px;
    align-items: center;
}
